.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

* {
    box-sizing: border-box;
}
/*アスタリスクは全章セレクタ（全てを選択する）、基本は多用しない。box-sizing: border-box;のみ*/

body{
  background: #f4f4f4;
}

.informations {
  position: fixed;
  z-index: 2;
  width: 100%;
  color: white;
  padding: 12px;
}

.title {
  float: left;
  font-weight:200;
}

.navigation {
  float: right;
}

.navigation p{
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-left: 16px;
}

.navigation p a{
  color: white;
  text-decoration: none;
}

.keyvisual{
  background: url(../imgs/top.png)no-repeat center center;
  height: 100vh;
  background-size: cover;  /*メインビジュアルの背景画像の横幅を全体に合わせる*/
  position: relative;
}

.clear {
	clear: both;
}


/*マウスオーバーで説明を表示する*/
.caption02 {
	margin-top: 0;
	width: 270px;
	height: 290px;
	font-size: 100%;
	text-align: justify;
	line-height: 2em;
	color: #000000;
	margin: auto;
	padding-top: 100px;
	z-index: 2;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
}

.effect .mask {
	width: 306px;
	height: 306px;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(255,255,255,0.8);
	-webkit-transition:all 0.3s ease;
	transition: all 0.3s ease;
	margin: -8px 15px 0 7px;
	z-index: 2;
}

.mask:hover {
	opacity: 1;
}



.main {
  font-weight: bold;
  text-align: center;
  margin: 80px auto 40px auto;
  font-family: serif;
  font-size: 20px;
}

.tagline {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 64px;
  font-weight: bold;
  font-style: italic;
  letter-spacing:0.2em;
}

.subhead {
    display: block;
    font-size: 20px;
    text-align: right;
    letter-spacing:0.1em;
}

.works {
  width: 960px;
  margin: 0 auto;
  margin-top: 10px;
}

.work {
    float: left;
    width: 33.333333%; /*きっちり3分割するために300pxではなく、33.333333%という割合を書く。*/
    font-size: 12px;
    font-weight: bold;
    padding: 0 15px 40px 15px;
	position: relative;
}

.work a:hover img {
    transform: scale(1.05);
}

.work img {
    width: 100%;
    border-radius: 8px;
    transition: transform ease-in-out 0.2s;
}

.credit{
  font-weight: normal;
}

.caption{
  margin-top: 12px;
}

.caption a {
  text-decoration: none;
  color: black;
}

.footer {
  background: ;
  text-align: center;
}

.contact {
  text-align: center;
  margin: 40px 0 80px 0;
}

.button {
  font-weight: bold;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #0099e5;
  transition: color,border-color,background ease-in-out 0.2s;  /*カンマ区切りで指定*/
  color: #0099e5;
  text-decoration: none;
}

.button:hover {
  color: white;
  border-color: #f4f4f4;
  background: #0099e5;
}

.copyright{
  margin:padding: 40px 0 35px 0;
  font-style: italic;
  font-family: serif;
}

.modal-content img{
  width: 100%
}

.photo{
	text-align: center;
}
	
.work_caption{
	font-size: 13px;
	margin-top: 20px;
}

.period{
	font-size: 11px;
}

.box-style{
  height: 290px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffffff;
  border-radius: 10px;
}